* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: "Kumbh Sans";
    background-color: hsl(185, 75%, 39%);
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-position: -287px -515px, 722px 329px;
    background-repeat: no-repeat;
}

main {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 
Configurações do card
*/

#cardContainer {
    width: 26%; 
    height: 23rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 1em hsl(185, 75%, 39%);
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
}

.bgCard {
    width: 100%;
    height: 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.sectionUser {
    margin-top: -50px;
    text-align: center;
}

.sectionUser img {
    border-radius: 50%;
    border: 4px solid #fff; 
}

.mainInformation {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}

.mainInformation .nameUser {
    grid-column: 1/2;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    font-size: 1.1rem;
}

.mainInformation .ageUser {
    grid-column: 2/3;
    width: 150%;
    font-size: 1.1rem;
    font-weight: 500;
}

.mainInformation .cityUser {
    grid-column: 1/3;
    grid-row: 2/3;
    padding-top: 5px;
}

.informationSocialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    border-top: 1px solid rgba(128, 124, 124, 0.13);
}

.informationSocialMedia span {
    text-align: center;
}

.informationSocialMedia span:nth-child(1),
.informationSocialMedia span:nth-child(2) {
    margin-right: 3.5rem;
}

.informationSocialMedia .number {
    font-size: 1.1rem;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    margin-bottom: 5px;
}

.informationSocialMedia .nameSocialMedia {
    font-size: 0.5rem;
    letter-spacing: 1.5px;
    font-weight: 600;
}


/*
Configurações do footer
*/
div.attribution {
    height: 5%;
    font-size: 11px; 
    text-align: center;
    color: hsl(229, 23%, 23%);
}

div.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.gray {
    color: hsl(0, 0%, 55%);
}

/* 
Medias Queries
*/

@media (max-width: 1024px) {
    #cardContainer {
        width: 35%;
    }

    body {
        background-position: -488px -547px, 444px 354px;
    }
}

@media (max-width: 768px) {
    #cardContainer {
        width: 45%;
    }

    body {
        background-position: -598px -547px, 340px 354px
    }
}

@media (max-width: 425px) {
    #cardContainer {
        width: 85%;
    }

    body {
        background-position: -758px -619px, 130px 289px;
    }
}
 

